body {
    font-family: Arial, sans-serif; /* Fuente por defecto */
    background-color: #0D1117;
    color: #C9D1D9;
}

.box {
    padding: 20px;
    border-radius: 20px; /* Esquinas redondeadas */
    border: 2px solid #ffffffaf; /* Bordes blancos */
    margin: 20px; /* Margen exterior */
    position: relative; /* Posición relativa para contener los menús */
}



.menu-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre el menú y el contenido */
}

.top-left-menu a,
.top-right-menu a {
    text-decoration: none;
    color: #e0e0e0; /* Cambia el color según tu preferencia */
    font-weight: bold;
}

.top-left-menu a {
    margin-right: 15px;
}

.top-right-menu a {
    margin-left: 15px;
}

.portfolio-description {
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    color: #e0e0e0; /* Gris claro similar al color de ChatGPT */
    padding: 20px;
    font-weight:bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
a.buttons_default {
    background: linear-gradient(to right,#196BCA ,#000000);
    background-color: #196BCA;
    color: #fff;
    font-family: Courier;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 2px solid #000;
    border-radius: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
a.buttons_default span {
    margin-right: 15px;
    display: block;
    width: 29px;
    height: 29px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAAAXNSR0IArs4c6QAAApdJREFUeF7tmlFOwlAQRV/BDZiIkT+WIjvRlRhXwlJkJ/JHNDFuQFpTpLFpgrwWOmcmXj9NyZ05h1voC0XSH0qgQNMVniQAfhNIgATABOB4NUACYAJwvBogATABOF4NkACYAByvBkgATACOVwMkACYAx6sBEgATgOPVAAmACcDxaoAEwATgeDVAAmACcLwaIAEwATheDZAAmAAcrwZIAEwAjlcDJAAmAMerAf9NwHb7uZhMy6dyN3mez6838P77+HqmYlq+VLvJ0nom0wb8LLpbpVTcp5Q2xMJd4Qf4r4f/m89kJqADv+FgvnBbQAc+MpOJgCPwkYWb0CPwzWcaXcAJ+OYLt+75zW3n2MeQSTtHF/D2/rGqUnrI+LA1WfjEO78zZrW+u71ZZsw++JLRBTTfMFJKi4wpR5XQD37aVEX5OJ/N1hlzD75kdAHtr3mkBI/wazYmAmgJXuGbCqAkeIZvLsBagnf4iAArCRHgYwLGlhAFPipgLAmR4OMCLi0hGnwXAi4lISJ8NwLOlRAVvisBQyXsl5iWpw7Wfg/9DI4X+pxLmD0J5w7V9+wo83ijjjc528nds7nOnYABTcjZ2SV8d7egNsmeTfhLglv4rgVcqAmu4bsXcKYE9/BDCBgoIQT8MAJ6SggDP5SATAmh4IcTcEJCOPghBRyREBJ+WAEdCcni1ws5T3tDrnH5JJy7SP2wlq6+FmP/dCR3niHXhRYwZGFvr5EA2IgESABMAI5XAyQAJgDHqwESABOA49UACYAJwPFqgATABOB4NUACYAJwvBogATABOF4NkACYAByvBkgATACOVwMkACYAx6sBEgATgOPVAAmACcDxaoAEwATgeDVAAmACcLwaIAEwATheDZAAmAAc/w1t36Rw29bGRAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}
a.buttons_default:hover {
    background: linear-gradient(to right,#5482d0 ,#515151);
    background-color: #5482d0;
}
a.buttons_default:active {
    transform: scale(0.95);
}

footer {
    position: botton;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #525252; /* Cambia el color del texto según tu diseño */
    text-decoration: none;
}

.projects {
    width: 300px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden; /* Para asegurar que la imagen se ajuste al cuadro */
    margin: auto; /* Centra el cuadro horizontalmente */
    position: relative; /* Permite posicionar la imagen dentro del cuadro */
}


.projects img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del cuadro sin distorsionar */
}


@media (max-width: 768px) {
    .projects {
        width: calc(50% - 20px); /* 50% del ancho menos el margen */
        max-width: 100%; /* Asegura que se ajuste al tamaño del contenedor */
        margin: 10px; /* Espacio entre los elementos */
    }
    
    .box {
        justify-content: center; /* Centra los elementos hijos horizontalmente */
    }
}



@media (max-width: 768px) {
    .projects {
        width: calc(50% - 20px); /* 50% del ancho menos el margen */
        max-width: 100%; /* Asegura que se ajuste al tamaño del contenedor */
        margin: 10px; /* Espacio entre los elementos */
    }

    .box > div {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
        justify-content: center;
        .projects {
            width: 500px;
            height: 300px;
        }
    }
}
