body {
    font-family: Arial, sans-serif; /* Fuente por defecto */
    background-color: #0D1117;
    color: #C9D1D9;
}


.box_index {
    padding: 20px;
    border-radius: 20px; /* Esquinas redondeadas */
    border: 3.4px solid rgb(143, 12, 12); /* Bordes rojos */
    margin: 20px; /* Margen exterior */
    position: relative; /* Posición relativa para contener los menús */
    box-shadow: 0px 0px 10px rgba(255, 123, 0, 0.603);
    overflow: hidden; /* Evita que el contenido se desborde */
}



.box {
    padding: 20px;
    border-radius: 20px; /* Esquinas redondeadas */
    border: 3.4px solid rgb(143, 12, 12); /* Bordes rojos */
    margin: 20px; /* Margen exterior */
    position: relative; /* Posición relativa para contener los menús */
    box-shadow: 0px 0px 10px rgba(255, 123, 0, 0.603);
    overflow: hidden; /* Evita que el contenido se desborde */
}



/* Estilos principales */
.menu-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre el menú y el contenido */
}

.top-left-menu a,
.top-right-menu a {
    text-decoration: none;
    color: #e0e0e0; /* Cambia el color según tu preferencia */
    font-weight: bold;
}

.top-left-menu a {
    margin-right: 15px;
}

.top-right-menu a {
    margin-left: 15px;
}

.top-left-menu a:hover,
.top-right-menu a:hover,
.top-left-menu a:focus,
.top-right-menu a:focus {
    color: #aa0000; /* Color de enlace al pasar el cursor o enfocar */
    text-decoration: underline; /* Subrayado al pasar el cursor o enfocar */
}

/* Estilos responsivos */
@media (max-width: 510px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .top-left-menu,
    .top-right-menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
    }

    .top-left-menu a,
    .top-right-menu a {
        margin: 8px 0; /* Espaciado vertical */
        font-size: 14px; /* Reducir tamaño de fuente */
    }
}



.portfolio-description {
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    color: #e0e0e0; /* Gris claro similar al color de ChatGPT */
    padding: 20px;
    font-weight:bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
a.buttons_default {
    background: linear-gradient(to right,#196BCA ,#000000);
    background-color: #196BCA;
    color: #fff;
    font-family: Courier;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 2px solid #000;
    border-radius: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
a.buttons_default span {
    margin-right: 15px;
    display: block;
    width: 29px;
    height: 29px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAAAXNSR0IArs4c6QAAApdJREFUeF7tmlFOwlAQRV/BDZiIkT+WIjvRlRhXwlJkJ/JHNDFuQFpTpLFpgrwWOmcmXj9NyZ05h1voC0XSH0qgQNMVniQAfhNIgATABOB4NUACYAJwvBogATABOF4NkACYAByvBkgATACOVwMkACYAx6sBEgATgOPVAAmACcDxaoAEwATgeDVAAmACcLwaIAEwATheDZAAmAAcrwZIAEwAjlcDJAAmAMerAf9NwHb7uZhMy6dyN3mez6838P77+HqmYlq+VLvJ0nom0wb8LLpbpVTcp5Q2xMJd4Qf4r4f/m89kJqADv+FgvnBbQAc+MpOJgCPwkYWb0CPwzWcaXcAJ+OYLt+75zW3n2MeQSTtHF/D2/rGqUnrI+LA1WfjEO78zZrW+u71ZZsw++JLRBTTfMFJKi4wpR5XQD37aVEX5OJ/N1hlzD75kdAHtr3mkBI/wazYmAmgJXuGbCqAkeIZvLsBagnf4iAArCRHgYwLGlhAFPipgLAmR4OMCLi0hGnwXAi4lISJ8NwLOlRAVvisBQyXsl5iWpw7Wfg/9DI4X+pxLmD0J5w7V9+wo83ijjjc528nds7nOnYABTcjZ2SV8d7egNsmeTfhLglv4rgVcqAmu4bsXcKYE9/BDCBgoIQT8MAJ6SggDP5SATAmh4IcTcEJCOPghBRyREBJ+WAEdCcni1ws5T3tDrnH5JJy7SP2wlq6+FmP/dCR3niHXhRYwZGFvr5EA2IgESABMAI5XAyQAJgDHqwESABOA49UACYAJwPFqgATABOB4NUACYAJwvBogATABOF4NkACYAByvBkgATACOVwMkACYAx6sBEgATgOPVAAmACcDxaoAEwATgeDVAAmACcLwaIAEwATheDZAAmAAc/w1t36Rw29bGRAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}
a.buttons_default:hover {
    background: linear-gradient(to right,#5482d0 ,#515151);
    background-color: #5482d0;
}
a.buttons_default:active {
    transform: scale(0.95);
}

footer {
    position: botton;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #525252; /* Cambia el color del texto según tu diseño */
    text-decoration: none;
}

.projects {
    width: 300px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden; /* Para asegurar que la imagen se ajuste al cuadro */
    margin: auto; /* Centra el cuadro horizontalmente */
    position: relative; /* Permite posicionar la imagen dentro del cuadro */
}


.projects img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del cuadro sin distorsionar */
}


@media (max-width: 768px) {
    .projects {
        width: calc(50% - 20px); /* 50% del ancho menos el margen */
        max-width: 100%; /* Asegura que se ajuste al tamaño del contenedor */
        margin: 10px; /* Espacio entre los elementos */
    }
    
    .box {
        justify-content: center; /* Centra los elementos hijos horizontalmente */
    }
}



@media (max-width: 768px) {
    .projects {
        width: calc(50% - 20px); /* 50% del ancho menos el margen */
        max-width: 100%; /* Asegura que se ajuste al tamaño del contenedor */
        margin: 10px; /* Espacio entre los elementos */
    }

    .box > div {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
        justify-content: center;
        .projects {
            width: 500px;
            height: 300px;
        }

        .responsive-image {
            width: 80%; /* Reduce el tamaño de la imagen al 70% de su tamaño original */
        }
    }
}


.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s ease;
}




.container_row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    gap: 10px; /* Espacio entre elementos */
}


.container-type {
    display: inline-block;
    border: 2px solid #ffffff; /* Color blanco para los bordes */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px; /* Ancho máximo del contenedor */
    flex: 1; /* Permite que el contenedor se ajuste dinámicamente */
}


.typing_img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
}


p {
    flex: 1;
    margin: 10px;
    min-width: 200px; /* Ancho mínimo para el párrafo */
}



@media (max-width: 600px) {
    .container_row {
        flex-direction: column; /* Apila los elementos verticalmente en pantallas pequeñas */
        align-items: center; /* Centra los elementos en pantallas pequeñas */
    }

    .container-type, p {
        max-width: 100%; /* Asegura que los elementos no se desborden */
    }

    .typing_img {
        width: 80%; /* Reduce el ancho de la imagen al 80% del contenedor */
    }
}

@media (max-width: 400px) {
    .typing_img {
        width: 60%; /* Reduce el ancho de la imagen al 60% del contenedor */
    }
}

@media (max-width: 300px) {
    .typing_img {
        width: 40%; /* Reduce el ancho de la imagen al 50% del contenedor */
    }
}

.image_profile {
    height: 210px;
    width: 185px;
    border-radius: 15px; /* Bordes redondos */
    object-fit: cover; /* Ajusta la imagen para que llene el contenedor */
}


.profile_container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna, uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    position: relative;
}

.description_me {
    font-size: 20px;
    color: lightgray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 20px;

}
  


.byAuthor {
    padding: 20px;
}

@media (max-width: 603px) {
    .byAuthor {
        padding-top: 40px;

    }
}


@media (max-width: 435px) {
    .byAuthor {
        padding-top: 60px;

    }
}


@media (max-width: 400px) {
    .byAuthor {
        padding-top: 80px;

    }
}


.back_page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back_page a {
    position: absolute;
    left: 0;
}

.back_page img {
    width: 30px;
    height: 30px;
}

.back_page h3 {
    margin: 0 auto;
}


.container_social {
    width: 100%;
    height: 100vh; /* Para que el contenedor ocupe toda la altura de la pantalla */
    border: 2px solid white;
    border-radius: 15px;
    background: none;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px; /* Espacio interno para los elementos */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    position: relative; /* Asegura que los hijos con posición absoluta se posicionen respecto a este contenedor */
    overflow: hidden; /* Oculta cualquier parte de los elementos que se salga del contenedor */
}

.social {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 10px;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    text-align: center; /* Centra el texto horizontalmente */
    overflow: hidden; /* Evita que el contenido desborde */
    position: absolute; /* Cambia a posicionamiento absoluto */
}


@media (max-width: 550px) {
    .social {
        width: 100px;
        height: 100px;
    }
}

.social img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    max-height: calc(100% - 40px); /* Asegura que la imagen no sobrepase el espacio disponible */
    border-radius: 15px; /* Aplica los bordes redondeados también a la imagen */
    margin-top: 10px; /* Añade un margen superior para separar del texto */
    object-fit: contain; /* Ajusta la imagen sin recortarla */
}

