body {
    font-family: Arial, sans-serif; /* Fuente por defecto */
    background-color: #0D1117;
    color: #C9D1D9;
}


.box_index {
    padding: 20px;
    border-radius: 20px; /* Esquinas redondeadas */
    border: 3.4px solid rgb(143, 12, 12); /* Bordes rojos */
    margin: 20px; /* Margen exterior */
    position: relative; /* Posición relativa para contener los menús */
    box-shadow: 0px 0px 10px rgba(255, 123, 0, 0.603);
    overflow: hidden; /* Evita que el contenido se desborde */
}



.box {
    padding: 20px;
    border-radius: 20px; /* Esquinas redondeadas */
    border: 3.4px solid rgb(143, 12, 12); /* Bordes rojos */
    margin: 20px; /* Margen exterior */
    position: relative; /* Posición relativa para contener los menús */
    box-shadow: 0px 0px 10px rgba(255, 123, 0, 0.603);
    overflow: hidden; /* Evita que el contenido se desborde */
}



/* Estilos principales */
.menu-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre el menú y el contenido */
}

.top-left-menu a,
.top-right-menu a {
    text-decoration: none;
    color: #e0e0e0; /* Cambia el color según tu preferencia */
    font-weight: bold;
}

.top-left-menu a {
    margin-right: 15px;
}

.top-right-menu a {
    margin-left: 15px;
}

.top-left-menu a:hover,
.top-right-menu a:hover,
.top-left-menu a:focus,
.top-right-menu a:focus {
    color: #aa0000; /* Color de enlace al pasar el cursor o enfocar */
    text-decoration: underline; /* Subrayado al pasar el cursor o enfocar */
}

/* Estilos responsivos */
@media (max-width: 510px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .top-left-menu,
    .top-right-menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
    }

    .top-left-menu a,
    .top-right-menu a {
        margin: 8px 0; /* Espaciado vertical */
        font-size: 14px; /* Reducir tamaño de fuente */
    }
}



.portfolio-description {
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    color: #e0e0e0; /* Gris claro similar al color de ChatGPT */
    padding: 20px;
    font-weight:bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
a.buttons_default {
    background: linear-gradient(to right,#196BCA ,#000000);
    background-color: #196BCA;
    color: #fff;
    font-family: Courier;
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 2px solid #000;
    border-radius: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
a.buttons_default span {
    margin-right: 15px;
    display: block;
    width: 29px;
    height: 29px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAAAXNSR0IArs4c6QAAApdJREFUeF7tmlFOwlAQRV/BDZiIkT+WIjvRlRhXwlJkJ/JHNDFuQFpTpLFpgrwWOmcmXj9NyZ05h1voC0XSH0qgQNMVniQAfhNIgATABOB4NUACYAJwvBogATABOF4NkACYAByvBkgATACOVwMkACYAx6sBEgATgOPVAAmACcDxaoAEwATgeDVAAmACcLwaIAEwATheDZAAmAAcrwZIAEwAjlcDJAAmAMerAf9NwHb7uZhMy6dyN3mez6838P77+HqmYlq+VLvJ0nom0wb8LLpbpVTcp5Q2xMJd4Qf4r4f/m89kJqADv+FgvnBbQAc+MpOJgCPwkYWb0CPwzWcaXcAJ+OYLt+75zW3n2MeQSTtHF/D2/rGqUnrI+LA1WfjEO78zZrW+u71ZZsw++JLRBTTfMFJKi4wpR5XQD37aVEX5OJ/N1hlzD75kdAHtr3mkBI/wazYmAmgJXuGbCqAkeIZvLsBagnf4iAArCRHgYwLGlhAFPipgLAmR4OMCLi0hGnwXAi4lISJ8NwLOlRAVvisBQyXsl5iWpw7Wfg/9DI4X+pxLmD0J5w7V9+wo83ijjjc528nds7nOnYABTcjZ2SV8d7egNsmeTfhLglv4rgVcqAmu4bsXcKYE9/BDCBgoIQT8MAJ6SggDP5SATAmh4IcTcEJCOPghBRyREBJ+WAEdCcni1ws5T3tDrnH5JJy7SP2wlq6+FmP/dCR3niHXhRYwZGFvr5EA2IgESABMAI5XAyQAJgDHqwESABOA49UACYAJwPFqgATABOB4NUACYAJwvBogATABOF4NkACYAByvBkgATACOVwMkACYAx6sBEgATgOPVAAmACcDxaoAEwATgeDVAAmACcLwaIAEwATheDZAAmAAc/w1t36Rw29bGRAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}
a.buttons_default:hover {
    background: linear-gradient(to right,#5482d0 ,#515151);
    background-color: #5482d0;
}
a.buttons_default:active {
    transform: scale(0.95);
}

footer {
    position: botton;
    text-align: center;
}

footer p {
    margin: 0;
}

footer a {
    color: #525252; /* Cambia el color del texto según tu diseño */
    text-decoration: none;
}
.projects {
    width: 350px;
    height: 300px;
    border: 2px solid rgb(78, 0, 0); /* Bordes rojos */
    box-shadow: 0px 0px 10px rgba(128, 0, 128, 0.6); /* Sombra morada */
    border-radius: 10px;
    overflow: hidden; /* Para asegurar que la imagen se ajuste al cuadro */
    margin: auto; /* Centra el cuadro horizontalmente */
    position: relative; /* Permite posicionar la imagen dentro del cuadro */
    display: flex; /* Activar Flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra horizontalmente */
}

.projects a {
    color: rgb(219, 215, 205);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0; /* Añadir un margen para separar el título de la imagen */
}

.projects a:hover {
    font-weight: 900;
    color: rgb(78, 6, 78); /* Cambia el color a morado cuando el cursor está sobre el enlace */
}

.projects img {
    width: 85%;
    height: 80%;
    object-fit: contain;
}

@media (max-width: 895px) {
    .projects {
        width: calc(100% - 20px); /* 50% del ancho menos el margen */
        max-width: 100%; /* Asegura que se ajuste al tamaño del contenedor */
        margin: 10px; /* Espacio entre los elementos */
    }
    
    .box {
        justify-content: center; /* Centra los elementos hijos horizontalmente */
    }
}

@media (max-width: 768px) {
    .projects {
        width: calc(50% - 20px); /* 50% del ancho menos el margen */
        max-width: 100%; /* Asegura que se ajuste al tamaño del contenedor */
        margin: 10px; /* Espacio entre los elementos */
    }

    .box > div {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
        justify-content: center;
    }

    .projects {
        width: 500px;
        height: 300px;
    }

    .responsive-image {
        width: 80%; /* Reduce el tamaño de la imagen al 70% de su tamaño original */
    }
}



.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s ease;
}




.container_row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    justify-content: space-between; /* Espacia los elementos uniformemente */
    gap: 10px; /* Espacio entre elementos */
}


.container-type {
    display: inline-block;
    border: 2px solid #cc9090; /* Color blanco para los bordes */
    box-shadow: 0px 0px 10px rgba(0, 255, 191, 0.932); /* Sombra morada */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px; /* Ancho máximo del contenedor */
    flex: 1; /* Permite que el contenedor se ajuste dinámicamente */
    animation: shadow-animation 4s infinite alternate;
}

@keyframes shadow-animation {
    0% { box-shadow: 0px 0px 10px rgb(182, 15, 15); } /* Sombra inicial */
    25% { box-shadow: 0px 0px 10px rgb(15, 182, 15); } /* Cambio a verde */
    50% { box-shadow: 0px 0px 10px rgb(15, 15, 182); } /* Cambio a azul */
    75% { box-shadow: 0px 0px 10px rgb(182, 182, 15); } /* Cambio a amarillo */
    100% { box-shadow: 0px 0px 10px rgb(182, 15, 182); } /* Cambio a rosa */
}

.container-descriptions {
    display: inline-block;
    border: 2px solid #cc9090; /* Color blanco para los bordes */
    box-shadow: 0px 0px 10px rgba(0, 255, 191, 0.932); /* Sombra morada */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px; /* Ancho máximo del contenedor */
    flex: 1; /* Permite que el contenedor se ajuste dinámicamente */
}



.typing_img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto; /* Mantiene la proporción de la imagen */
}


p {
    flex: 1;
    margin: 10px;
    min-width: 200px; /* Ancho mínimo para el párrafo */
}



@media (max-width: 600px) {
    .container_row {
        flex-direction: column; /* Apila los elementos verticalmente en pantallas pequeñas */
        align-items: center; /* Centra los elementos en pantallas pequeñas */
    }

    .container-type, p {
        max-width: 100%; /* Asegura que los elementos no se desborden */
    }

    .typing_img {
        width: 80%; /* Reduce el ancho de la imagen al 80% del contenedor */
    }
}

@media (max-width: 400px) {
    .typing_img {
        width: 60%; /* Reduce el ancho de la imagen al 60% del contenedor */
    }
}

@media (max-width: 300px) {
    .typing_img {
        width: 40%; /* Reduce el ancho de la imagen al 50% del contenedor */
    }
}

.image_profile {
    height: 210px;
    width: 185px;
    border-radius: 15px; /* Bordes redondos */
    object-fit: cover; /* Ajusta la imagen para que llene el contenedor */
}


.profile_container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna, uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    position: relative;
}

.description_me {
    font-size: 20px;
    color: lightgray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 20px;

}
  


.byAuthor {
    padding: 20px;
}

@media (max-width: 603px) {
    .byAuthor {
        padding-top: 40px;

    }
}


@media (max-width: 435px) {
    .byAuthor {
        padding-top: 60px;

    }
}


@media (max-width: 400px) {
    .byAuthor {
        padding-top: 80px;

    }
}


.back_page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back_page a {
    position: absolute;
    left: 0;
}

.back_page img {
    width: 30px;
    height: 30px;
}

.back_page h3 {
    margin: 0 auto;
}

.container_contactme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Añade un espacio entre los elementos */
    padding: 20px;
  }

  .social {
    position: relative;
    width: 150px;
    height: 150px;
    color: #fff;
    background: none;
    overflow: hidden;
    border-top: 2.5px solid rgba(255, 49, 49, 0.5);
    border-right: 2.5px solid rgba(0, 255, 255, 0.5);
    border-bottom: 2.5px solid rgba(245, 255, 244, 0.849);
    border-left: 2.5px solid rgba(140, 0, 255, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 10px;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    text-align: center; /* Centra el texto horizontalmente */
    overflow: hidden; /* Evita que el contenido desborde */
    position: relative; /* Cambia a posicionamiento relativo */
  }
  p {
    font-size: 0.95rem;
    text-align: center;
  }
  span {
    position: absolute;
    border-radius: 100vmax;
  }
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49)
    );
  }
  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgba(252, 193, 193, 0.726),
      rgb(252, 193, 193),
      transparent 50%
    );
  }

    .right {
      top: 0;
      right: 0;
      width: 5px;
      height: 0;
      background: linear-gradient(
        180deg,
        transparent 30%,
        rgba(0, 255, 255, 0.5),
        rgb(0, 255, 255)
      );
    }

    .left {
      left: 0;
      bottom: 0;
      width: 5px;
      height: 0;
      background: linear-gradient(
        180deg,
        rgba(125, 0, 197, 0.568),
        rgb(125, 0, 197),
        transparent 70%
      );
    }

    .top {
      animation: animateTop 3s ease-in-out infinite;
    }

    .bottom {
      animation: animateBottom 3s ease-in-out infinite;
    }

    .right {
      animation: animateRight 3s linear infinite;
    }

    .left {
      animation: animateLeft 3s ease-in-out infinite;
    }

    @keyframes animateTop {
      25% {
        width: 100%;
        opacity: 1;
      }

      30%,
      100% {
        opacity: 0;
      }
    }

    @keyframes animateBottom {
      0%,
      50% {
        opacity: 0;
        width: 0;
      }

      75% {
        opacity: 1;
        width: 100%;
      }

      76%,
      100% {
        opacity: 0;
      }
    }

    @keyframes animateRight {
      0%,
      25% {
        opacity: 0;
        height: 0;
      }

      50% {
        opacity: 1;
        height: 100%;
      }

      55%,
      100% {
        height: 100%;
        opacity: 0;
      }
    }

    @keyframes animateLeft {
      0%,
      75% {
        opacity: 0;
        bottom: 0;
        height: 0;
      }

      100% {
        opacity: 1;
        height: 100%;
      }
    }



    @media (max-width: 550px) {
      .social {
        width: 100px;
        height: 100px;
      }
    }

  .social img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
    max-height: calc(100% - 40px); /* Asegura que la imagen no sobrepase el espacio disponible */
    border-radius: 15px; /* Aplica los bordes redondeados también a la imagen */
    margin-top: 10px; /* Añade un margen superior para separar del texto */
    object-fit: contain; /* Ajusta la imagen sin recortarla */
  }

.source_code {
    color: #e0e0e0;
    font-weight: 900;
}

.source_code:hover {
    font-weight: 900;
    color: rgb(214, 96, 0); /* Cambia el color a morado cuando el cursor está sobre el enlace */
}


.container_images_projects {
    height: 340px;
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
}

.container_images_projects img {
    height: 295px;
    width: 195px;
    border-radius: 15px;
}



@media (max-width: 775px) {
    .container_images_projects img {
        height: 350px;
        width: 255px;
    }
}

@media (max-width: 694px) {
    .container_images_projects img {
        height: 400px;
        width: 355px;
    }
}


@media (max-width: 510px) {
    .container_images_projects img {
        height: 400px;
        width: 355px;
    }
}



video {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
}


.delphin {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100vh;
    width: 500px;
    height: auto;
    position: relative;
    z-index: -1;
}


.icon {
    display: inline-block;
    width: 24px; /* Ajusta el tamaño según el tamaño de tu ícono */
    height: 24px; /* Ajusta el tamaño según el tamaño de tu ícono */
    background-image: url("../assets/drawable/copy_ic.png");
    background-size: cover; /* Ajusta el tamaño del fondo */
    filter: drop-shadow(
        0 0 10px rgba(199, 186, 186, 0.993)
    )
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

